<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MonsterDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MonsterDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <MonsterDemo.Properties.Settings>
            <setting name="MaxHealth" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Lvl" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Xp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Name" serializeAs="String">
                <value>Name</value>
            </setting>
            <setting name="MonsterTraits" serializeAs="String">
                <value>?</value>
            </setting>
            <setting name="Health" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CurrentChallengeLevel" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Attack" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Freindship" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HardMode" serializeAs="String">
                <value>False</value>
            </setting>
        </MonsterDemo.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <MonsterDemo.Properties.Settings>
            <setting name="HardMode" serializeAs="String">
                <value>False</value>
            </setting>
        </MonsterDemo.Properties.Settings>
    </applicationSettings>
</configuration>