MonsterDemo/MonsterDemo/MonsterDemo/bin/Debug/MonsterDemo.exe
MonsterDemo/MonsterDemo/MonsterDemo/bin/Debug/MonsterDemo.pdb
MonsterDemo/MonsterDemo/MonsterDemo/obj/Debug/DesignTimeResolveAssemblyReferences.cache
*.cache
*.cache
MonsterDemo/MonsterDemo/.vs/MonsterDemo/v16/.suo
*.cache
*.cache
