# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.MonsterDemo.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\graym\Documents\GitHub\3037GroupProject\MonsterDemo\MonsterDemo\MonsterDemo\.idea\.idea.MonsterDemo.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
